input[type=file] { 
    width: 1px; 
    visibility: hidden;
}

div.lattice-controls button {
    margin-left: 20px;
}

.lattice-controls
{
    text-align: center;
}

div.file-controls button {
    margin-left: 20px;
}

.file-controls
{
    text-align: left;
}

.file-name {
    height: 25px;
    width: 200px;
    padding: 10px;
    border: 1px solid #B9BDC1;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #BBB inset;
    box-shadow: 0 2px 4px #BBB inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.file-name:focus {
    background-color: #E7E8E7;
    outline: 0;
}
