/* Hide the file control */
input[type=file] { 
    width: 1px; 
    visibility: hidden;
}

/* Lattice buttons distributed along the div and centered */ 
div.lattice-controls button {
    margin-left: 20px;
}

.lattice-controls
{
    text-align: center;
}

/* File controls separated 20px and aligned to the left */
div.file-controls button {
    margin-left: 20px;
}

.file-controls
{
    text-align: left;
}

/* Filename textbox style  */
.file-name {
    height: 25px;
    width: 200px;
    padding: 10px;
    border: 1px solid #B9BDC1;
    -moz-box-shadow: 0 2px 4px #bbb inset;
    -webkit-box-shadow: 0 2px 4px #BBB inset;
    box-shadow: 0 2px 4px #BBB inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.file-name:focus {
    background-color: #E7E8E7;
    outline: 0;
}


.lattice-selection {
  display: inline-block;
  height: 30px;
  width: 150px;
  outline: none;
  color: #000;
  margin-right: 30px;
  
  font-size: 16px;
  border: 1px solid #C8BFC4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
}

.lattice-selection:disabled {
    color: gray;
	background: #dddddd;
}